//`
// sidebar
// --------------------------------------------------
.logo-title {
  font-weight: bold;
}

.sidebar {
  background-color: #fff;
  padding: 10px;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  border-right: 1px solid $g-color-light-blue-100;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 240px;
  z-index: 1000;
}

.page-container {
  position: relative;
  min-height: 100vh;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-left: 240px;
  padding: 0 0 65px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65px;
  padding: 0 2rem;
  align-items: center;
  border-top: 1px solid $g-light-primary-300;
}

@media (min-width: 767px) and (max-width: 991px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    width: 100%;
    margin-right: 0;
  }
  .sidebar {
    overflow: auto;
    width: 62px;
  }
  .navbar-nav {
    display: inline-flex;
  }
  .page-container {
    margin-left: 62px;
  }

  .profile .dropdown-menu {
    min-width: 230px;
    position: absolute;
    right: -14px;
  }

  //.apps, .profile, .emails {
  //  position: relative;
  //  .dropdown-menu {
  //    width: 100%;
  //    min-width: auto;
  //    padding: 0;
  //    border: none;
  //    font-size: 0;
  //    right: 50%;
  //    top: 100%;
  //    position: absolute;
  //    transform: translateX(50%);
  //    &:after {
  //      display: none;
  //    }
  //  }
  //}

  .footer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    align-items: flex-start;
  }
}