//
// apps
// --------------------------------------------------
.apps {
  .dropdown-menu {
    width: 365px;
    padding: 0;
    border: none;
    font-size: 0;
    right: -25px;
    top: 115%;

    &:after {
      bottom: 100%;
      right: 30px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: 0;
    }
  }

  .apps-list {
    padding: .5rem;
  }

  .app-item {
    width: calc(100% / 3);
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    justify-content: center;

    .app-title {
      font-size: 14px;
    }
  }
  .show-more {
    background: $g-color-light-blue-100;
    font-size: 14px;
    line-height: 42px;
  }
}