//
// navigation
// --------------------------------------------------

.navigation {
  padding-left: 0;
  list-style: none;

  &-sub {
    position: relative;
    transform: none;
    padding-left: 0;
    list-style: none;
    transition: all ease-in-out .5s;
  }
  &-item {
    &.active {
      > .navigation-link {
        background: $g-purple;
        color: $g-white;

        .fab, .fas {
          color: $g-white;
        }
      }
    }
  }
  &-link {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 6.25rem;
    padding: .5rem .8rem;
    transition: .5s ease;
    cursor: pointer;
    color: $g-dark;

    .fab {
      transition: .5s ease-in;
      color: $g-gray-400;
    }

    &:hover {
      background: $g-light-primary-125;
      color: $g-dark;

      .fa, .fab, .fas, .far, .fal {
        color: $g-purple;
      }
    }
    .pull-right-container {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .dropdown-sub {
    &.open {
      .navigation-sub {
        display: block;
      }
    }
  }
}