//
// notifications
// --------------------------------------------------
.notifications {
  &.show {
    .nav-link {
      i {
        color: $g-purple;
      }
    }
  }
  .notify {
    .point {
      background-color: $g-blue;
    }
  }
  .dropdown-menu {
    width: 365px;
    padding: 0;
    border: none;
    font-size: 0;
    right: -25px;
    top: 115%;

    &:after {
      bottom: 100%;
      right: 30px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: 0;
    }
  }
  .notifications-list {
    padding: .5rem 1.5rem;
  }
  .notification-item {
    padding: .5rem 0;

    & + .notification-item {
      border-top: 1px solid $g-light-primary-125;
    }

    &:hover {
      cursor: pointer;
      background: none;

      .notification-title {
        color: $g-purple;
      }
    }
  }
  .notification-info {
    display: inline-flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 1rem;
  }
  .notification-title {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    transition: all ease-in .5s;
  }
  .notification-desc {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
  }
  .show-more {
    background: $g-color-light-blue-100;
    font-size: 14px;
    line-height: 42px;
  }
}

@-moz-keyframes heartbit {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}