//
// profile
// --------------------------------------------------
.profile {
  .dropdown-menu {
    min-width: 265px;
    padding: 1rem;
    border: none;
    right: -25px;
    top: 115%;

    &:after {
      bottom: 100%;
      right: 30px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: 0;
    }
  }
  .dropdown-item {
    padding: .5rem 0px;

    i {
      margin-right: 1rem;
      color: $g-gray-200;
    }

    &:hover {
      background: none;
    }
  }
}