.sidebar {
  background-color: #fff;
  padding: 10px;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 240px;
  z-index: 1000;
}

.page-container {
  min-height: 100vh;
  padding-left: 240px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
